@font-face {
  src: url('../fonts/Lato-Medium.woff');
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Lato-Thin.woff');
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/Lato-Semibold.woff');
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Lato-Bold.woff');
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Lato-Heavy.woff');
  font-family: "Lato";
  font-weight: 800;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.c-top {
  display: block;
  padding: 24px;
  background: url('../images/call_1.jpg') no-repeat center top;
  background-size: cover;
  &__title {
    display: block;
    margin-top: 120px;
    margin-bottom: 30px;
    color: #232323;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.35;
  }
  &__text {
    display: block;
    margin-bottom: 15px;
    color: #232323;
    font-size: 24px;
    font-weight: 300;
    b,
    strong {
      font-weight: 800;
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    margin-bottom: 55px;
    padding: 24px 44px;
    border-radius: 99rem;
    background: linear-gradient(51deg, #11c6fa 0%, #11c6fa 10%, #96f1ec 50%, #11c6fa 90%, #11c6fa 100%);
    background-size: 400% 400%;
    color: #000000;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    animation: Gradient 3s ease infinite;
    &:hover,
    &:active,
    &:focus {
      color: #000000;
      text-decoration: none;
    }
  }
}

.c-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  &__logo {
    display: inline-block;
    text-decoration: none;
    transition: all 0.15s ease-out;
    img {
      max-width: 100%;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__number {
    display: inline-block;
    color: #232323;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #232323;
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.c-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
  &__card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 370px;
    height: 70px;
    margin-bottom: 30px;
    border-radius: 999rem;
    background: rgba(255, 255, 255, 0.75);
    &-image {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border-radius: 999rem;
      box-shadow: 2px 14px 27px rgba(0, 0, 0, 0.07);
      background-color: #ffffff;
    }
    &-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1 1 auto;
      padding: 2px 6px 2px 20px;
      color: #000000;
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.c-trash {
  display: block;
  padding: 100px 0 90px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #232323;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
  }
  &-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    &__card {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      max-width: 160px;
      margin-bottom: 30px;
      &-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 95px;
      }
      &-title {
        display: block;
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.c-try {
  display: block;
  padding: 110px 0 40px 0;
  background-color: #f1f1f1;
  &__title {
    display: block;
    margin: 0 0 68px 0;
    color: #232323;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
  }
}

.c-call {
  display: block;
  padding: 50px 0 110px 0;
  background-color: #f1f1f1;
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #232323;
    font-size: 30px;
    font-weight: 800;
  }
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
     ::-webkit-input-placeholder {
      color: #232323;
    }
     ::-moz-placeholder {
      color: #232323;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #232323;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #232323;
    }
    input {
      display: inline-block;
      width: 100%;
      max-width: 370px;
      margin-bottom: 4px;
      padding: 22px 40px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #ffffff;
      color: #232323;
      font-size: 18px;
      font-weight: 300;
    }
    button {
      display: inline-block;
      position: relative;
      width: 100%;
      max-width: 370px;
      padding: 24px 44px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background: linear-gradient(51deg, #11c6fa 0%, #11c6fa 10%, #96f1ec 50%, #11c6fa 90%, #11c6fa 100%);
      background-size: 400% 400%;
      color: #000000;
      font-size: 12px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.15s ease-out;
      animation: Gradient 3s ease infinite;
      &:hover,
      &:active,
      &:focus {
        color: #000000;
        text-decoration: none;
      }
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 182px;
        height: 163px;
        bottom: 23px;
        left: -20px;
        background: url('../images/human_4.png') no-repeat center;
      }
    }
  }
}

.c-services {
  display: block;
  padding: 110px 0 90px 0;
  background: url('../images/services_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 26px;
    color: #ffffff;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 575px;
    margin: 0 auto 36px auto;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.86;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 320px;
    padding: 48px 44px 44px 44px;
    border-radius: 7px;
    background-color: #ffffff;
    &>div:first-child {
      width: 100%;
    }
    &-title {
      display: block;
      margin-bottom: 20px;
      color: #000000;
      font-size: 14px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3.3px;
    }
    ul {
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
      padding: 0;
      text-decoration: none;
      color: #414141;
      font-size: 14px;
      font-weight: 400;
      li {
        display: block;
        position: relative;
        margin-bottom: 10px;
        padding-left: 15px;
        &:before {
          display: block;
          position: absolute;
          content: '';
          width: 6px;
          height: 6px;
          top: 4px;
          left: 0;
          border-radius: 999rem;
          background: #2bcef7;
        }
      }
    }
    &-price {
      display: inline-block;
      padding: 16px 22px;
      border: 1px solid #cbcbcb;
      border-radius: 999rem;
      color: #2e2e2e;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2.9px;
    }
  }
}

.c-way {
  display: block;
  padding: 130px 0 100px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin-bottom: 90px;
    color: #232323;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 235px;
    margin-bottom: 30px;
    &-image {
      display: block;
      position: relative;
      width: 60px;
      height: 60px;
      margin-bottom: 18px;
      border-radius: 999rem;
      background-color: #2bcef7;
      img {
        display: block;
        position: absolute;
        top: -10px;
        right: -10px;
      }
    }
    &-title {
      display: block;
      min-height: 46px;
      margin-bottom: 10px;
      color: #212121;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.3;
      text-align: center;
    }
    &-text {
      display: block;
      margin: 0;
      color: #9fa3a7;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
    }
  }
}

.c-bottom {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.c-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 120px 0 100px 0;
  background: url('../images/footer_bg.jpg') no-repeat center;
  background-size: cover;
  &__logo {
    display: inline-block;
    margin-bottom: 18px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    img {
      max-width: 100%;
    }
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__what {
    display: block;
    margin-bottom: 10px;
    color: #9fa3a7;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }
  &__content {
    display: block;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.45;
  }
  a {
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    padding: 15px 26px;
    background: url('../images/btn_border.png') no-repeat center;
    background-size: 100% 100%;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.c-map {
  display: block;
  width: 50%;
}

.c-feedback {
  display: block;
  padding: 100px 0 110px 0;
  background-color: #545462;
  .item {
    outline: none;
  }
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #ffffff;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
  }
  .c-slider-for {
    display: block;
    height: 275px;
    overflow: hidden;
    background: url('../images/icon_quote.svg') no-repeat center;
    background-size: contain;
  }
  &__text {
    display: block;
    width: 100%;
    max-width: 850px;
    margin: 20px auto 0 auto;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    font-style: italic;
    text-align: center;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto 0 auto;
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      height: 65px;
      margin-bottom: 30px;
      padding: 4px;
      border-radius: 999rem;
      background-color: #fafafa;
      svg,
      img {
        max-width: 100%;
      }
    }
    &-hr {
      display: none;
      width: 120px;
      height: 3px;
      margin-bottom: 30px;
      background-color: #2bcef7;
    }
    &-company {
      display: none;
      margin-bottom: 10px;
      color: #ffffff;
      font-size: 22px;
      font-style: italic;
    }
    &-what {
      display: none;
      color: #9fa3a7;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2.8px;
    }
  }
  .slick-current {
    outline: none;
    .c-feedback__card {
      margin-top: 0;
    }
    .c-feedback__card-image {
      width: 100px;
      height: 100px;
    }
    .c-feedback__card-hr {
      display: block;
    }
    .c-feedback__card-company {
      display: block;
    }
    .c-feedback__card-what {
      display: block;
    }
  }
}

.c-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  transition: all 0.3s ease-out;
  &__flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4px;
    overflow-y: auto;
  }
  &_active {
    display: block;
    top: 0;
  }
}

.c-popup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 935px;
  padding: 50px 70px 50px 50px;
  border-radius: 5px;
  background-color: #ffffff;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 500px;
    height: 659px;
    left: -55px;
    bottom: 0;
    background: url('../images/human_5.png') no-repeat center;
  }
  &__close {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    right: 20px;
    top: 15px;
    background: url('../images/icon_close.svg') no-repeat center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    max-width: 390px;
  }
  &__title {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    font-size: 26px;
    font-weight: 800;
  }
  &__text {
    display: block;
    margin-bottom: 10px;
    opacity: 0.68;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
  }
  &__warning {
    display: block;
    width: 100%;
    margin: 0;
    padding-left: 36px;
    background: url('../images/icon_checked.svg') no-repeat left top;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    max-width: 360px;
     ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
     ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
    input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 20px 32px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #f3f3f3;
      color: rgba(0, 0, 0, 0.85);
      font-size: 18px;
      font-weight: 300;
    }
    button {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      padding: 24px 44px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background: linear-gradient(51deg, #11c6fa 0%, #11c6fa 10%, #96f1ec 50%, #11c6fa 90%, #11c6fa 100%);
      background-size: 400% 400%;
      color: rgba(0, 0, 0, 0.85);
      font-size: 12px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.15s ease-out;
      animation: Gradient 3s ease infinite;
      &:hover,
      &:active,
      &:focus {
        color: #000000;
        text-decoration: none;
      }
    }
    .jcf-select {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      padding: 20px 32px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #f3f3f3;
      color: rgba(0, 0, 0, 0.85);
      font-size: 18px;
      font-weight: 800;
      cursor: pointer;
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 18px;
        height: 9px;
        right: 28px;
        top: 50%;
        margin-top: -4px;
        background: url('../images/icon_dropdown.svg') no-repeat center;
        transform: rotate(180deg);
      }
      &-text {
        color: rgba(0, 0, 0, 0.85);
        font-size: 18px;
        font-weight: 800;
        line-height: 1.2;
      }
      &-opener {
        display: none;
      }
    }
  }
}

.jcf-select-drop {
  margin-top: -61px !important;
}

.jcf-select-drop-content {
  position: relative;
  padding: 6px 0;
  border: 0 !important;
  border-radius: 30px;
  background-color: #f3f3f3;
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 18px;
    height: 9px;
    right: 28px;
    top: 22px;
    background: url('../images/icon_dropdown.svg') no-repeat center;
  }
}

.jcf-list .jcf-option,
.jcf-list ul li {
  border-bottom: 1px solid #eaeaea;
}

.jcf-list .jcf-option,
.jcf-list ul li:last-child {
  border-bottom: 0;
}

.jcf-list {
  background: transparent;
}

.jcf-list .jcf-option {
  padding: 14px 32px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

.jcf-list-box .jcf-selected,
.jcf-select-drop .jcf-hover {
  background: transparent;
  opacity: 0.6;
}

.c-try {
  display: block;
  padding: 110px 0 40px 0;
  background-color: #f1f1f1;
  &__title {
    display: block;
    margin-bottom: 68px;
    color: #232323;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 370px;
    margin-bottom: 30px;
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 350px;
      margin-bottom: 20px;
      border: 5px solid #2bcef7;
      border-radius: 999rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      svg,
      img {
        max-width: 100%;
        cursor: pointer;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          transform: scale(1.2);
          text-decoration: none;
        }
      }
    }
    &-name {
      display: block;
      margin-bottom: 8px;
      color: #232323;
      font-size: 24px;
      font-weight: 800;
      text-align: center;
    }
    &-who {
      display: block;
      color: #232323;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}

.track {
  position: relative;
  button {
    border: 0;
    outline: 0;
  }
}

.cover {
  position: relative;
}

.cover svg {
  top: 50%;
  left: 50%;
  stroke: #fff;
  width: 90px;
  height: 90px;
  background-color: #2bcef7;
  border-radius: 100%;
  pointer-events: none;
  z-index: 0;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 90px;
  margin-top: -2px;
  background: transparent !important;
  height: 90px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.play::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  opacity: 0;
}

.play::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZdJREFUeNrs29FNQjEYBlAgDuAIuAFugBvgBrABTiBOgE4AGzgCbCAbwAayAbZJb0KMT77wt/ecpO/39qP9CqGDAQAAAAAAAAAAAAAA8A+Xy2WWxr2ZiBPILo1jGlOzESeQzmcaY7MSJ5DsO42lmYkTSOcrjYkZihNIZ630YwVyKaU/M1txAunsWir9UQPvkI/GuVtWPsoxVsjv0p9aIXHkE9iu5tIfNbrI8neWXPpzgcSRV8imttJvOZDr0j/WUvp9CKTzWsMPln0KJBuX0t9ELf2+BdKZl21sKZBYpb8upT8RSMBv+hG2MYFclX4JZioQBPKHtzQeh8Ph/pYPcSeHQQ7gJQVxsEJu61yCeIoSRp9XyLaEcY72YH0L5JTG4tY9YcsqpZ2CeIgcRl9WyL6sipNj7+1Le1FK+1TLQ7cayHsaeXva1vbgrW1Zh3J62tf6Aq0EkrenjxTEqvYXaSGQqkq75Q7JATzXVtpV8mfregJxHSFIIC7sBArElbYggbj0GSgQ16IBAAAAAAAAAAAAACCsHwEGACfr+SLf7BaJAAAAAElFTkSuQmCC');
  background-size: 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#circle {
  visibility: hidden;
  stroke-width: 5;
}

.playing #circle {
  visibility: visible;
}

.playing .play::after {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAK9JREFUeNrs0sEJhDAQQFEjW4ilWYp2slYS7MROYgrQZQc8DPgeiBcZQ/4MAwAAAAAAAAAAAAAAZFcyHaa1NvfX9PfhS1lu5iyB3x59ztcqXF9kbQE/5kTUTHcwWoNcBBEEQQRBEEEQRBAEEQRBEEQQBBEEQQRBEEEQBEEEQRBBEEQQBBEEQRBEEAQRBEEEQZB3+iQ7z9af/YE5a+DbwxoAAAAAAAAAAAAAAEDEKcAA4xprM8PkP94AAAAASUVORK5CYII=');
}

.playing .play::before {
  opacity: 1;
}