@media (max-width: 1399px) {}

@media (max-width: 1199px) {
  .c-top {
    padding: 14px 0;
  }
  .c-header {
    justify-content: space-around;
  }
  .c-header__logo {
    margin-bottom: 20px;
  }
  .c-header__number {
    margin-bottom: 20px;
  }
  .c-top__title {
    margin: 20px 0;
    font-size: 32px;
    text-align: center;
  }
  .c-top__text {
    text-align: center;
  }
  .c-top__button {
    display: block;
    width: auto;
    margin: 10px auto 20px auto;
    text-align: center;
  }
  .c-features__card {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .c-features {
    margin-bottom: 10px;
  }
  .c-trash {
    padding: 30px 0 10px 0;
  }
  .c-trash-cards {
    justify-content: space-around;
  }
  .c-trash-cards__card {
    margin-bottom: 20px;
  }
  .c-try__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-try {
    padding: 30px 0 10px 0;
  }
  .c-try__cards {
    justify-content: space-around;
  }
  .c-try__card-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  .c-call {
    padding: 0 0 20px 0;
  }
  .c-call form button:before {
    display: none;
  }
  .c-call__title {
    margin-bottom: 10px;
    font-size: 28px;
    text-align: center;
  }
  .c-call form {
    justify-content: space-around;
  }
  .c-feedback {
    padding: 30px 0;
  }
  .c-feedback__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .c-feedback__text {
    font-size: 18px;
  }
  .c-services {
    padding: 30px 0 10px 0;
  }
  .c-services__card {
    margin-bottom: 20px;
    padding: 20px;
  }
  .c-services__cards {
    justify-content: space-around;
  }
  .c-way__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .c-way {
    padding: 30px 0 10px 0;
  }
  .c-way__cards {
    justify-content: space-around;
  }
  .c-bottom {
    flex-flow: row wrap;
  }
  .c-footer {
    width: 100%;
    padding: 20px 15px;
  }
  .c-map {
    width: 100%;
  }
  .c-popup:before {
    display: none;
  }
  .c-popup {
    width: auto;
    padding: 30px 15px;
  }
  .c-features__card-image {
    background: transparent;
    box-shadow: none;
  }
  .c-try__card-image {
    background: transparent !important;
    border: 0;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}